﻿@{
    ViewData["Title"] = "RGB BACKGROUND";
}
<script>
    function Red(value) {
        document.getElementById('redSlide').innerHTML = value;
        changeColour();
    }
    function Green(value) {
        document.getElementById('greenSlide').innerHTML = value;
        changeColour();
    }
    function Blue(value) {
        document.getElementById('blueSlide').innerHTML = value;
        changeColour();
    }
    function changeColour() {
        var r = document.getElementById('redSlide').value;
        var g = document.getElementById('greenSlide').value;
        var b = document.getElementById('blueSlide').value;
        document.getElementById('change').style.backgroundColor = "rgb(" + r + "," + g + "," + b + ")";
    }
    function colourChange() {
    var x = document.forms["colourForm"]["red"].value;
    var y = document.forms["colourForm"]["green"].value;
    var z = document.forms["colourForm"]["blue"].value;
    document.getElementById('background').style.backgroundColor = "rgb(" + x + "," + y + "," + z + ")";
    }
     function resetC() {
    document.getElementById('background').style.backgroundColor = "rgb(255,255,255)";
    }

</script>
<div>
    <form id="colourForm" onsubmit="return validateForm()"style="float: left;">
    <div id="change" style="height:150px"></div>
      <div style="display: flex;">
        <div id="redPanel"style="width: 400px;">
            
            <div class="titleCenter">Red<br></div>
            <input type="range" name="red" oninput="Red(this.value)" onchange="Red(this.value)" id="redSlide" value="128" min="0" max="255"></br>
        </div>
        <div id="greenPanel"style="width: 400px;">
            <div class="titleCenter">Green<br></div>
            <input type="range" name="green" oninput="Green(this.value)" onchange="Green(this.value)" id="greenSlide" value="128" min="0" max="255"></br>
        </div>
        <div id="bluePanel"style="width: 400px;">
            <div class="titleCenter">Blue<br></div>
            <input type="range" name="blue" oninput="Blue(this.value)" onchange="Blue(this.value)" id="blueSlide" value="128" min="0" max="255"></br>
        </div>
        </div>
        
            <button type="button" onclick="colourChange()" style="width: 600px">Change</button>
            <button type="button" onclick="resetC()" style="width: 600px">Reset</button>

            <h1>Instructions</h1>

            <p> Step One: Adjust sliders to a colour you want the background to be(can preview on the top bar.</p>
            <p> Step Two: Press the change botton to make it you background colour.</p>
            <p> Step Three: Press reset to go back to white background.</p> 
            
    </form>
</div>